<div class="p-3 container-fluid rounded shadow-sm ele">
    <h1 class="text-center">Bill Splitter</h1>
</div>
<div class="container-fluid m-0 p-0">
    <div class="row">
        <div class="col-xl-3 mt-3">
            <div class="p-3 rounded ele shadow-sm">
                <h2 class="text-center">
                    Groups
                </h2>
                <app-groups (groupChange)="changeGroup($event)"></app-groups>
            </div>
            <div class="p-3 rounded ele shadow-sm mt-3" *ngIf="currentGroup != undefined">
                <h2 class="text-center fw-bold">
                    {{currentGroup.name}}
                </h2>
                <app-participants class="mt-3" [group]="currentGroup"></app-participants>
            </div>
        </div>
        <div class="col-xl-9">
            <div class="row">
                <div class="col-lg-12 mt-3">
                    <div class="p-3 ele rounded shadow-sm"
                        *ngIf="currentGroup != undefined && currentGroup.participants.length > 0">
                        <app-expenses class="mt-3" [group]="currentGroup"></app-expenses>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="p-3 my-3 rounded d-flex justify-content-center align-center shadow-sm ele">
    <div class="text-center">
        <h4>
            Connect with me
        </h4>
        <div class="d-flex justify-content-evenly mt-3">
            <a href="https://www.linkedin.com/in/het-shah-ba2848171/" target="_blank"
                class="text-decoration-none text-dark" style="font-size: 24px;">
                <span class="fa fa-linkedin-square"></span>
            </a>
            <a href="https://github.com/h-anonymous04/" target="_blank" class="text-decoration-none text-dark"
                style="font-size: 24px;">
                <span class="fa fa-github"></span>
            </a>
            <a href="https://www.instagram.com/het.x25/" target="_blank" class="text-decoration-none text-dark"
                style="font-size: 24px;">
                <span class="fa fa-instagram"></span>
            </a>
        </div>
    </div>
</div>